@media screen and  (max-width:2009px){
.arrow{
    margin-left: 100px;
}
.title-border{
    font-size: 20px;
    margin-left: 500px;
  }
}


@media screen and ( max-width:1700px){
.button{
        margin-left: 38%;
    }
.groupe-filter{
    margin-left: -10px;
    display: flex;
    justify-content: end;
}
.title-border{
    font-size: 20px;
    margin-left: 350px;
  }

}
@media  screen and (max-width:1622px){
    .arrow{
        margin-left: 500px;
    }  
    .title-border{
        font-size: 20px;
        margin-left: 150px;
      }
    
    }
    

@media screen and (max-width: 1500px){
#area-filters{
    width: 80%;
    display: block; 
}
.groupe-filter{
    display: block;
}
.restaurant_carte{
    display: block;
    margin-left: 0;
}
.title-border{
    font-size: 20px;
    margin-left: 50px;
  }

 } 
@media screen and (max-width: 1024px){
.fa-map-marker-alt{
 margin-left: -15px;
}
.arrow{
    margin-left: -10px;
    font-size: 25px;
}
.button{
    width: 270px;
    margin-left: 32%;
}
.filter{
    margin-left: 198px;
}
.filtre-text {
    padding-left: 54px;  
}
/* .groupe-filter{
    display: block;
    margin-left: 0;
} */
#area-filters{
    width: 80%;
    display: block; 
}


.restaurant_carte{
    display: block;
    margin-left: 0px;
} 
#restaurant {
    display: block;
}
#restaurant img{
    width: 646px;
    height: 200px;
}
.titre-photo{
    padding-top: 20px;
}
.list-photo{
    display: flex;
}
figure{
width: 88%;
}
.coeur-1{
    display: inline-block;
    position: absolute;
    font-size: 25px;
    margin-top: 4px;
    margin-left: 53%
}
.coeur-2{
    display: inline-block;
    position: absolute;
    font-size: 25px;
    margin-top: 4px;
    margin-left: 53%;
}
.coeur-3{
    display: inline-block;
    margin-left: 58%;
    position: absolute;
    font-size: 25px;
    margin-top: 4px
}
.coeur-4{
    display: inline-block;
    position: absolute;
    font-size: 25px;
    margin-top: 4px;
    margin-left: 53%;
}

.alignement-dekstop{
    display: block;
}
.list-footer{
    padding-left: 24px;
    display: block;
}
.list-footer li{
    margin:2px 11px;
    padding-left: 0;
    display: block;
}
.list-footer > li > a {
    font-size: 25px;
}
.logo-footer {
    margin-top: 4px;
    margin-left: 31px;
}
.fa-arrow-left{
    margin-left: -150px;
    font-size: 20px;
}
.titre-restaurant{
    padding-left: 29%;
}
.button-deuxieme-page{
    margin-left: 25%;
}
.filter-second{
    margin-left: 34px;
    width: 73%;
}
.regroupement-menu{
    display: flex;
    flex-direction: column;
}
}